@import "tailwindcss";

main{  display: grid;
  grid-template-columns: 0.6fr 1.5fr 1.1fr;
  grid-template-rows: 1.1fr 1.1fr .8fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "stats map map"
    "stats map map"
    "stats goods goods";
}

.map { grid-area: map; }

.stats { grid-area: stats; }

.goods { grid-area: goods; }



.map { 
  grid-area: map; 
  background-image: url("/src/images/map.jpg");
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: top right;
}


